*{
  margin: 0;
  padding: 0;
}

#choose-file {
    margin: auto;
    float: right
}

#custom-button {
    color: white;
    padding: 10px;  
    background-color: lightgrey;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: sans-serif;
}
        
#custom-button:hover {
    background-color: mediumseagreen;
}

#custom-text {
    margin-left:  10px;
    font-family: sans-serif;
    color: grey;
}

.top-bar {
    background: #333;
    color: #fff;
    padding: 1rem;
}

.btn {
    background: MediumSeaGreen;
    color: #fff;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    padding: 0.7rem 2rem;
    font-family: sans-serif;
}

.btn:hover {
    opacity: 0.9;
}

.page-info {
    margin-left: 1rem;
    font-family: sans-serif;
    color: grey;
}

.error {
    background: orangered;
    color: #fff;
    padding: 1rem;
}

.center {
    background: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}
